*{
	box-sizing: border-box;
}

h2, h3{
	margin: 0;
}

body{
	background-color: palevioletred;
	margin: 20px 0;
	font-family: sans-serif;
}

.wrapper{
	width: 75%;
	margin: 0 auto;
	background-color: white;
	border-radius: 10px;
}

header{
	padding: 50px;
	overflow: hidden;
}

header > #logo{
	font-size: 5em;
	font-family: 'Dorsa', sans-serif;
	letter-spacing: 5px;
	font-weight: 500;
	float: left;
	width: 75%;
}

#navbar{
	float: right;
	width: 25%;
	text-align: right;
}

nav a:hover{
	color: #33bebe;
}

main{
	padding: 30px;
	overflow: hidden;
}

#about-main{
	padding: 0 30px 30px 30px;
}

section{
	float: left;
	width: 70%;
}

article{
	padding: 30px;
	border-bottom: 1px solid lightgrey;
	color: black;
}

#about-article{
	padding: 0 20px;
}

#about-article h2{
	font-size: 3.5em;
	font-weight: 600;
	letter-spacing: 3px;
	text-decoration: none;
}

article:last-child{
	border-bottom: 0px;
}

section h2, a{
	text-decoration: none;
	font-size: 1.8em;
	color: darkcyan;
	font-family: 'Dorsa', sans-serif;
	font-weight: 800;
	letter-spacing: 3px;
}

article a:hover{
	font-style: italic;
	color: #33bebe;
}

aside{
	width: 30%;
	float: right;
	background-color: palegoldenrod;
	padding: 20px;
	padding-bottom: 15px;
	border-radius: 3px;
	font-size: 0.9rem;
	font-weight: 100;
}

aside h3{
	background-color: orange;
	padding: 10px;
	color: beige;
	border-radius: 3px;
	font-family: 'Dorsa', sans-serif;
	font-size: 2.2rem;
	font-weight: 1000;
	letter-spacing: 5px;
}

article span{
	font-style: italic;
	font-size: 0.9em;
	color: darkslategray;
	padding-left: 5px;
}

aside a{
	color: #855308;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 1rem;
	font-weight: 200;
	letter-spacing: 0;
}

aside a:hover{
	color: darkgoldenrod;
}

footer{
	padding: 20px;
	border-top: 0.1rem solid lightpink;
	text-align: center;
	color: darkgray;
	font-family: 'Dorsa', sans-serif;
	font-size: 1.8rem;
	letter-spacing: 2px;
	font-weight: 700;
}